body {
    background-color: #EDE7E6; 
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0; 
    font-size: 10pt;
    width: auto;
}

.i2 {
    font-size: 10pt;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.i4{
    font-size: 10pt;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.i7{
    font-size: 10pt;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.i0 {
    font-size: 10pt;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.i0:first-child {
    margin-top: 50px;
}

p{
    font-size: 10pt;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 10%;
}

h1 {
    font-size: 20pt;
    color: #E3A148; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 100px;
    text-align: center; 
}

h2 {
    font-size: 20pt;
    color: #E3A148; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center; 
   
}

h3 {
    font-size: 10pt;
    color: #E3A148; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    font-weight: 400;
}

h4 {
    font-size: 10pt;
    color: #E3A148; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    font-style: italic;

}

.hide {
    display:none; 
}

.caption{
    font-size: 10pt;
    color: #E3A148; 
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    text-align:right

}

.firstcharacter {
    font-size:2em;
    color: #E3A148; 
}

table {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    margin:auto;
}

.center {
    text-align: center;
}


@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body {
        background-color: #E6E6E6; 
        font-family: 'Montserrat', sans-serif;
        margin: 0; 
        padding: 0; 
        font-size: 10pt;
        width: auto;
    }

    h1 {
        font-size: 20pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        margin-top: 100px;
        text-align: center; 
    }

    h2 {
        font-size: 20pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center; 
       
    }
    
    h3 {
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: auto;
        font-weight: 400;
    }
    
    h4 {
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: auto;
        font-style: italic;
    
    }

    .caption{
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: right;
    }

    .firstcharacter {
        font-size:2em;
        color: #1E98B5; 
    }
}

@media only screen and (max-width: 800px) { 
    body {
        background-color: white; 
        font-family: 'Montserrat', sans-serif;
        margin: 0; 
        padding: 0; 
        font-size: 10pt;
        width: auto;
    }

    h1 {
        font-size: 20pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        margin-top: 100px;
        text-align: left; 
        margin-left: 50px;
    }

    h2 {
        font-size: 20pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 600; 
        text-align: left; 
        margin-left: 50px;
        
    }
    
    h3 {
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: auto;
        font-weight: 400;
        text-align: left; 
        margin-left: 75px;
    }
    
    h4 {
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: auto;
        font-style: italic;
        text-align: left; 
        margin-left: 75px;
    }

    .caption{
        font-size: 10pt;
        color: #1E98B5; 
        font-family: 'Montserrat', sans-serif;
        text-align: right;
    }
    
    p{
        font-size: 13pt;
        color: #2B2B2B;
        font-family: 'Montserrat', sans-serif;
        width: 80%;
        margin-left: 10%;
    }

    .firstcharacter {
        font-size:2em;
        color: #1E98B5; 
    }

}